.btn-container {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
}

.btn-container button {
    border: none;
    background-color: lightskyblue;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: all 300ms ease-in-out;
}

.btn-container button:hover {
    background-color: lightblue;
}

.next-btn {
    display: block;
    border: none;
    background-color: orange;
    margin-left: auto; 
    font-weight: bold;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    transition: all 300ms ease-in-out;
}

.next-btn:hover {
    background-color: orangered;
}

.score {
    text-align: right;
    color: green;
}