.app {
    background-color: white;
    padding: 2rem;
    border-radius: 0.2rem;
}

.loading {
    width: 200px;
    height: 200px;
    margin-inline: auto;
    border-radius: 50%;
    border: 10px solid;
    border-color: transparent rgba(0, 0, 0, 0.3) transparent rgba(0, 0, 0, 0.3);
    animation: spin 1s infinite
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}